.home {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;

  section {
    padding-top: 140px;
  }
}

.header {
  font-size: 100px;
  font-weight: 800;
  line-height: 110px;
}

.section-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1440px) {
  .header {
    font-size: 70px;
    line-height: 77px;
  }

  .section-title {
    font-size: 20px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 1440px) {
  .header {
    font-size: 70px;
    line-height: 77px;
  }

  .section-title {
    font-size: 20px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 960px) {
  .header {
    font-size: 60px;
    line-height: 66px;
  }

  .section-title {
    font-size: 16px;
    line-height: 16px;
  }
}