.ingredients {
  padding-top: 200px;
  padding-bottom: 250px;
  background-color: #f4f4f4;
}

.recipe {
  margin-top: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & .ingredient-box {
    text-align: center;
    width: 30%;

    & img {
      width: 220px;
      height: 220px;
    }
    & h3 {
      font-size: 40px;
      font-weight: 600;
      line-height: 48px;
      margin-top: 100px;
    }

    & p {
      font-family: "Vollkorn", serif;
      font-size: 30px;
      font-weight: 400;
      line-height: 45px;
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .ingredients {
    padding-bottom: 130px;
  }
  .recipe {
    margin-top: 100px;
    & .ingredient-box {
      width: 31%;
      & img {
        width: 140px;
        height: 140px;
      }
      & h3 {
        margin-top: 52px;
        font-size: 20px;
        line-height: 24px;
      }
      & p {
        font-size: 18px;
        line-height: 27px;
        margin-top: 20px;
      }
    }
  }
}
